<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <img src="./assets/images/logo_cemiterios_dark.png" alt="logo cemiterio" class="center" width="200" height="200">
      <h4 class="company_title">Cemitério Dos Prazeres Maçonaria</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <form  class="form-group">
            <div class="row">
              <h2>Login</h2>
            </div>
            <div class="row">
              <hr>
            </div>
            <div class="row">
              <h3>Bem-Vindo! Aqui poderá consultar várias informações sobre a maçonaria do cemitério dos prazeres</h3>
            </div>
            <div class="row">
              <input type="text" name="email" id="email" class="form__input" placeholder="E-mail">
            </div>
            <div class="row">
              <input type="password" name="password" id="password" class="form__input" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="row">
          <a class="btn" href="#">Registar</a>
        </div>
        <div class="row">
          <p>Ainda não tem uma conta? <a href="#">Registar</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
