
<div class="row">
  <div class="col-1 col-md-2"></div>
  <div class="col-10 col-md-8">
    <h1></h1><br>
    <div class="jumbotron">
      <h1 class="display-4">Cemitério Dos Prazeres</h1>
      <p class="lead">O Cemitério dos Prazeres é um cemitério situado na parte ocidental de Lisboa. Fica localizado na freguesia da Estrela, perto do bairro de Campo de Ourique, sendo o segundo maior cemitério da capital portuguesa. Após a cidade de Lisboa ter sido atingida por um surto de cólera mórbus, em 1833, foi urgente a criação de grandes cemitérios, tendo sido criado assim o Cemitério dos Prazeres, juntamente com o Cemitério do Alto de São João.</p>
      <p class="lead">Passou para administração municipal em 1840 na sequência de decreto-lei de Rodrigo da Fonseca Magalhães publicado em 1835 pelo qual passaram a ser obrigatórios os enterramentos em espaços exclusivamente destinados para esse fim. Constituído quase exclusivamente por jazigos particulares, é possível admirar monumentos de autores anónimos, lado a lado com peças de arquitectos de renome do século XIX até aos nossos dias, bem como o trabalho de alguns do nossos maiores escultores que desta forma se perpetuaram através da sua magnífica obra.</p>
      <p class="lead">Fonte: Wikipédia</p>
    </div>
    <div class="jumbotron">
      <h1 class="display-4">6 Factos Sobre o Cemitério Dos Prazeres</h1>
      <p class="p2">Nascido para responder à epidemia da “cólera morbus”</p>
      <p class="lead">O Cemitério dos Prazeres foi construído em 1833 para acolher as milhares de vítimas mortais da epidemia de “cólera morbus” que assolou Lisboa nesse ano. Por questões de saúde pública, foram naquela altura interditos os enterramentos em espaços religiosos, como era habitual.</p>
      <hr class="my-4">
      <p class="p2">Maior mausoléu privado da Europa</p>
      <p class="lead">Nos Prazeres existe o maior mausoléu privado da Europa: o Jazigo dos Duques de Palmela. Mandado construir em 1847, há quem lhe reconheça uma ligação à simbologia maçónica. </p>
      <hr class="my-4">
      <p class="p2">A maior concentração de ciprestes</p>
      <p class="lead">No Cemitério dos Prazeres pode encontrar a maior e mais antiga concentração de ciprestes da Península Ibérica. Estas árvores vão dando cor ao espaço com mais de 12 hectares, onde estão espalhados mais de 7.000 jazigos, ao mesmo tempo que delimitam as ruas por onde se pode circular.</p>
      <hr class="my-4">
      <p class="p2">Cripta dos Bombeiros e capela com antigas salas de autópsias</p>
      <p class="lead">Com uma das vistas mais privilegiadas do cemitério — virada para a ponte 25 de Abril e a margem sul do Tejo — encontra-se o talhão onde estão sepultados os Bombeiros Sapadores, espaço cedido pela Câmara Municipal para esse efeito em 1911. </p>
      <hr class="my-4">
      <p class="p2">Ofélia Queiroz e Fernando Pessoa: juntos até depois da morte</p>
      <p class="lead">É nos Prazeres que se encontram os restos mortais de Ofélia Queiroz, a única namorada que se conheceu a Fernando Pessoa. Curioso é que só foi descoberto depois de o próprio Fernando Pessoa ter sido trasladado dos Prazeres para os Jerónimos.</p>
      <hr class="my-4">
      <p class="p2">De Cesariny a Cesário Verde, de António Gedeão a Vasco Santana</p>
      <p class="lead">Atores, cantores, escritores, pintores e apresentadores de televisão. Nomes como António Gedeão, Cândida Branca Flor, Carlos Paredes, Henrique Mendes, Maluda, Mário Cesariny, Raúl Indipwo e Cesário Verde, mas também Vasco Santana, Fernando Maurício, Raul Solnado, entre muitos outros. Nos Prazeres estão sepultados, no Talhão dos Artistas, alguns dos maiores nomes da cultura portuguesa.</p>
      <p>Fonte: https://observador.pt/2017/01/10/6-factos-que-deve-conhecer-sobre-o-cemiterio-dos-prazeres</p>
    </div>
  </div>
  <div class="col-1 col-md-2"></div>
</div>

