
<div id="content" class="ui">
<div class="row">
  <div class="col-1 col-md-2"></div>
  <div class="col-10 col-md-8">
    <div class="card text-center">

      <div class="card-header">
        Horário
      </div>
      <div class="card-body">
        <h5 class="card-title">1 de outubro a 30 de abril</h5>
        <p class="card-text">Abertura ao público: 09h00 - 17h00</p>
        <p class="card-text">Serviços Administrativos: 09h00 - 16h00</p>
        <p class="card-text">Realização de funerais: 09h00 - 11h30; 13h30 - 16h00</p>
        <hr class="my-4">


        <h5 class="card-title">1 de maio a 30 de setembro</h5>
        <p class="card-text">Abertura ao público: 09h00 - 18h00</p>
        <p class="card-text">Serviços Administrativos: 09h00 - 16h00</p>
        <p class="card-text">Realização de funerais: 09h00 - 11h30; 13h30 - 16h00</p>
        <hr class="my-4">
      </div>
    </div>
    <div class="card text-center">

      <div class="card-header">
        Contactos
      </div>
      <div class="card-body">
        <h5 class="card-title">+351 21 396 15 11</h5>
      </div>
    </div>
  </div>
  <div class="col-1 col-md-2"></div>
</div>
</div>
