<div id="content" class="ui container">
  <ngx-spinner template="<img src='../assets/images/gif.gif'  />" ></ngx-spinner>
  <div class="panel-container">
    <h2>
      <span>Monumentos</span>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="monumentos?.length === 0">
      <span>A procurar na base de dados... Aguarde...</span>
    </div>


    <div class="table-responsive" id="projectsTable" *ngIf="monumentos.length > 0">
      <div class="card text-white bg-secondary" style="width: 25rem;" >
        <h3 class="card-title">Pesquisa</h3>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Ex: Jazigo" />
        <div class="settings">
            <label for="jc">Jazigo Capela  </label>
            <input id="jc" type="checkbox" [checked]="jazigoCapelaCheck" (change)="jazigoCapelaCheck = !jazigoCapelaCheck"   /><br>
          <label for="js">Jazigo Subterrâneo  </label>
          <input id="js" type="checkbox" [checked]="jazigoSubterraneoCheck" (change)="jazigoSubterraneoCheck = !jazigoSubterraneoCheck" /><br>
          <label for="m">Monumento  </label>
          <input id="m" type="checkbox" [checked]="monumentoCheck" (change)="monumentoCheck = !monumentoCheck" /> <br>
          <label for="sp">Sepultura Perpétua  </label>
          <input id="sp" type="checkbox" [checked]="sepulturaPerpetuaCheck" (change)="sepulturaPerpetuaCheck = !sepulturaPerpetuaCheck" /><br>
        </div>
      </div>
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr>
          <th scope="col" ><span>Nº Monumento</span></th>
          <th scope="col" ><span>Tipologia</span></th>
          <th scope="col" ><span>Nº Rua</span></th>
          <th scope="col" ><span>Opções</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let monumento of monumentos">
          <ng-container *ngIf="searchCheck(monumento)">
          <td>{{ monumento._nomeMonumento }}</td>
          <td>{{ monumento._tipologia }}</td>
          <td>{{ monumento._numeroRua }}</td>
            <div class="btn-group">
          <td>
          <button type="submit" [routerLink]="[monumento._id, 'view']" class="btn btn-info btn-sm">
            <i-bs name="info-circle"></i-bs>
            <span class="d-none d-md-inline">INFO</span>
          </button>
          </td>
          <td>
            <button type="submit" [routerLink]="['/editMonumento', monumento._id, 'view']" *ngIf="admin" class="btn btn-primary btn-sm">
              <i-bs name="pencil-fill"></i-bs>
              <span class="d-none d-md-inline">EDITAR</span>
            </button>
          </td>
          <td>
            <button type="submit" (click)="apagarMonumento(monumento._id)" *ngIf="admin" class="btn btn-danger btn-sm">
              <i-bs name="trash-fill"></i-bs>
              <span class="d-none d-md-inline">DELETE</span>
            </button>
          </td>
            </div>
          </ng-container>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info" (click)="moreMonumentos()">Carregar Mais Monumetos</button>
    </div>
  </div>
</div>
